<h1 class="tile animated jackInTheBox">Lista de Tarefas</h1>
<ul class="animated flipInX" *ngIf="appState == appStateList.LISTA">
  <p class="text-center" *ngIf="toDosList.length == 0">
    <small>Você não tem nenhuma tarefa.</small>
  </p>
  <li *ngFor="let toDoTask of toDosList">
    {{ toDoTask.title }}
    <button (click)="removeTask(toDoTask)"><i class="far fa-trash-alt"></i></button> |
    <button *ngIf="toDoTask.isDone == false" (click)="markAsDone(toDoTask)"><i class="far fa-check-circle"></i></button>
    <button *ngIf="toDoTask.isDone" (click)="markAsDone(toDoTask)"><i class="fas fa-check-circle"></i></button>
  </li>
</ul>

<div id="modal">
  <h1>Nova Tarefa</h1>
  <form [formGroup]="taskForm">
    <input type="text" placeholder="Título da Tarefa" maxlength="60" formControlName="title"><br>
    <small></small>
    <p><button>Teste Butão</button></p>
  </form>
  <br><br>
</div>

<button><i class="fas fa-plus-circle"></i>NOVA TAREFA</button>
<button><i class="fas fa-times"></i>CANCELAR</button>
